div#background {
    width: 1200px;
    height: 800px;
    background-image: url('assets/background.jpg');
    position: absolute;
}

div#doctor {
    width: 50px;
    height: 107px;
    background-image: url('assets/doctor.png');
    position: absolute;
    left: 575px;
    top: 680px;
}

div#injections {
    width: 1200px;
    height: 800px;
    position: absolute;
}

div.injection {
    width: 10px;
    height: 28px;
    background-image: url('assets/injection.png');
    position: absolute;
}

div#viruses {
    width: 1200px;
    height: 800px;
    position: absolute;
}

div.virus {
    width: 50px;
    height: 50px;
    background-image: url('assets/virus.png');
    position: absolute;
}
